@import "src/assets/styles/fields.scss";
@import "src/assets/styles/colors.scss";
@import "src/assets/base.scss";

.modal {
  &__content {
    @include row;

    &--cupom-form {
      @include row;
    }

    &--price {
      width: $width-pattern-field;
    }

    &--title {
      width: $width-pattern-field;
    }

    &--description {
      width: $width-pattern-field;
    }

    &--code-cupom {
      width: $width-pattern-field;
    }

    &--price-discount {
      width: $width-pattern-field;
    }

    &--manage-checkbox {
      @include field-product;
    }

    &--snacks {
      @include field-product;
    }

    &--manager-btns {
      @include field-product;
      margin-top: 2em;
      &--save {
        margin-right: 0.4em;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: flex-start;

    &--title-modal {
      color: $secondary-light-color;
      font-weight: 500;
      margin-right: 0.4em;
    }

    &--icon-food {
      color: $secondary-color;
    }
  }
}
