<main class="modal">
  <div class="modal__header">
    <h1 class="modal__header--title-modal">Adicionar produtos</h1>
    <mat-icon class="modal__header--icon-food">fastfood</mat-icon>
  </div>

  <div class="modal__content">
    <p class="modal__content--title">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input type="text" matInput placeholder="Exemplo: Hámburguer">
        <mat-hint *ngIf="false">Hint</mat-hint>
      </mat-form-field>
    </p>

    <p class="modal__content--description">
      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <input type="text" matInput placeholder="Exemplo: 2 tomates, 1 alface e etc.">
        <mat-hint *ngIf="false">Hint</mat-hint>
      </mat-form-field>
    </p>

    <p class="modal__content--price">
      <mat-form-field appearance="outline">
        <mat-label>Preço</mat-label>
        <input type="number" matInput placeholder="">
        <mat-hint *ngIf="false">Hint</mat-hint>
      </mat-form-field>
    </p>

    <p class="modal__content--manage-checkbox">
      <mat-checkbox class="example-margin" #cupom>Esse produto tem cupom?</mat-checkbox>
    </p>

    <p *ngIf="cupom.checked" class="modal__content--code-cupom">
      <mat-form-field appearance="outline">
        <mat-label>Código do cupom</mat-label>
        <input type="text" matInput placeholder="">
        <mat-hint *ngIf="false">Hint</mat-hint>
      </mat-form-field>
    </p>

    <p *ngIf="cupom.checked" class="modal__content--price-discount">
      <mat-form-field appearance="outline">
        <mat-label>Valor do desconto</mat-label>
        <input type="number" matInput placeholder="">
        <mat-hint *ngIf="false">Hint</mat-hint>
      </mat-form-field>
    </p>

    <section class="modal__content--snacks">
      <button  mat-stroked-button color="primary">
        <input type="file" >
        Suba as fotos dos lanches :)
      </button>
    </section>


    <footer class="modal__content--manager-btns">
      <button type="submit" class="modal__content--manager-btns--save" mat-stroked-button color="primary">Salvar</button>
      <button type="button" mat-dialog-close mat-stroked-button color="accent">Cancelar</button>
    </footer>
  </div>
</main>
