<mat-card class="card" *ngIf="card?.style" [ngStyle]="card?.style" class="example-card">
  <mat-card-header *ngIf="card.title || card.subtitle">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="card__title" *ngIf="card.title">{{card.title}}</mat-card-title>
    <mat-card-subtitle class="card__subtitle" *ngIf="card.subtitle">{{card.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image *ngIf="card.img" [src]="card.img" [alt]="card.title">
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions class="card__actions" *ngIf="card.actions">
    <button class="card__actions--add-cart" mat-stroked-button color="primary"> <mat-icon>add_shopping_cart</mat-icon> Adicionar ao carrinho</button>
    <button class="card__actions--add-cart" (click)="cupom = !cupom" mat-button *ngIf="card.actions?.cupom"> <mat-icon>attach_money</mat-icon> Cupom</button>
  </mat-card-actions>

  <section class="card__cupom" *ngIf="cupom">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Adicione um cupom</mat-label>
        <input matInput placeholder="Ex: ADS0F80">
      </mat-form-field>
    </p>
  </section>
</mat-card>
