@import "src/assets/base.scss";

.background {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;

  &__form-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--fields {
      display: flex;
      flex-direction: column;
    }
  }

  &__footer-btns {
    &--btn-create-account {
      margin-right: 1em;
      border: 1px solid #795548;
      color: #795548;
    }

    &--btn-back-page {
      border: 1px solid #ca582f;
      color: #ca582f;
    }
  }
  &__peoples-conversation--peoples {
    width: 65vw;
    height: 90vh;
  }
}

app-card {
  padding: 1em;
}

@media (min-width: $laptop) {
  .background {
    &__peoples-conversation {
      &--peoples {
        width: 70vw;
        height: 100vh;
      }
    }
  }
}

@media (min-width: $laptop-L) {
  .background {
    &__peoples-conversation {
      &--peoples {
        width: 70vw;
        height: 80vh;
      }
    }
  }
}

@media (max-width: $mobile-L) {
  .background {
    display: flex;
    justify-content: center;
    &__peoples-conversation {
      &--peoples {
        display: none;
      }
    }
  }
}

@media (max-width: $tablet) {
  .background {
    &__peoples-conversation {
      &--peoples {
        width: 60vw;
        height: 85vh;
      }
    }
  }
}

@media (max-width: $laptop-L) {
  .background {
    &__peoples-conversation {
      &--peoples {
        width: 70vw;
        height: 100vh;
      }
    }
  }
}
