<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="content-drawer">
      <p class="hello-user">Olá, <span class="name-user">
          &nbsp;{{user.name}}
        </span> </p>
      <button mat-stroked-button color="warn">
        <mat-icon>settings</mat-icon>
        Configurações
      </button>
      <button mat-stroked-button color="warn" (click)="logoutUser()">
        <mat-icon>login</mat-icon>
        Sair
      </button>

    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <nav>
      <div class="menubar ">
        <a href="#0" class="home">Hoouka's</a>
        <div class="icons">
          <i (click)="drawer.toggle()" class="icon-menu"><span></span></i>
        </div>
      </div>
    </nav>

    <ng-content></ng-content>
  </div>

</mat-drawer-container>
