<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <nav>
      <div class="menubar ">
        <a href="#0" class="home">LOGO</a>
        <div class="icons">
          <i (click)="drawer.toggle()" class="icon-menu"><span></span></i>
        </div>
      </div>
    </nav>

    <ng-content></ng-content>
  </div>

</mat-drawer-container>
