<main class="background">

  <section class="background__cards-products" >
    <div *ngIf="!loading">
      <app-card *ngFor="let product of products; let i = index" [card]='card[i]'>
        <mat-divider></mat-divider>
        <app-carousel *ngIf="product?.imgs?.length > 0" [imgs]='product.imgs'></app-carousel>
        <div class="background__cards-products--price">
          <h4 class="background__cards-products--subtitle-price">Preço: {{product.price}} R$</h4>
        </div>
      </app-card>
    </div>
  </section>
  <!-- <button (click)="modalCreateProducts()">Modal</button> -->
</main>

<section class="loading">
  <mat-spinner *ngIf="loading"></mat-spinner>
</section>
