<main class="background">

  <section class="background__cards-products" >
      <div *ngIf="!loading" class="container">
        <div class="row">
          <div *ngFor="let product of products; let i = index" class="col-sm">
            <app-card [card]='card[i]' >
              <mat-divider></mat-divider>
              <app-carousel *ngIf="product?.imgs?.length > 0" [imgs]='product.imgs'></app-carousel>
              <div class="background__cards-products--price">
                <h4 class="background__cards-products--subtitle-price">Preço: {{product.price.toFixed(2)}} R$</h4>
                <app-button-toggle (quantity)="addOrRemoveItem($event, i)" class="background__cards-products--btn-toogle"></app-button-toggle>
              </div>
            </app-card>
          </div>
        </div>
      </div>
  </section>
</main>

<section class="loading">
  <mat-spinner *ngIf="loading"></mat-spinner>
</section>
