@import "src/assets/styles/fields.scss";
@import "src/assets/base.scss";
@import "src/assets/styles/colors.scss";

.background {
  height: 100vh;
  &__cards-products {
    &--price {
      display: flex;
      justify-content: space-between;
      color: $secondary-light-color;
    }
    &--subtitle-price {
      margin-top: 1em;
      font-size: 16pt;
      font-weight: 600;
    }

    &--btn-toogle {
      margin-top: 0.1em;
    }

    &--quantity {
      color: $secondary-light-color;
      font-weight: 600;
    }
  }

  &__btn-float-cart {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: $secondaryDarkColor;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
