<main *ngIf="!loading"  class="background">
  <section class="background__cards-products">
    <div class="container">
      <div class="row">
        <div *ngFor="let product of products; let i = index" class="col-sm">
          <app-card (cart)="addCart($event, product)" [card]='card[i]'>
            <mat-divider></mat-divider>
            <app-carousel *ngIf="product?.imgs?.length > 0" [imgs]='product.imgs'></app-carousel>
            <div class="background__cards-products--price">
              <h4 class="background__cards-products--subtitle-price">Preço: {{product.price.toFixed(2)}} R$</h4>
              <app-button-toggle (quantity)="addOrRemoveItem($event, i)" class="background__cards-products--btn-toogle">
              </app-button-toggle>
            </div>

            <div class="background__cards-products--quantity">
              <span>Quantidade: {{product.quantity + 1}}</span>
            </div>

          </app-card>
        </div>
      </div>
    </div>
    <button *ngIf="cart.length > 0" matBadgeColor="warn" matBadge={{sum}} mat-fab class="background__btn-float-cart">
      <mat-icon >shopping_cart</mat-icon>
    </button>
  </section>
</main>

<section class="loading">
  <mat-spinner *ngIf="loading"></mat-spinner>
</section>
