@import "src/assets/base.scss";

.background {
  height: 100vh;
  width: 100%;
  background-image: url("https://us.123rf.com/450wm/alxyzt/alxyzt1712/alxyzt171200042/90996098-seamless-pattern-of-burgers-background-for-fast-food-packing-poster-.jpg?ver=6");
  display: flex;
  justify-content: center;
  align-items: center;

  &__form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--fields {
      display: flex;
      flex-direction: column;
    }
  }

  mat-divider {
    margin-bottom: 1000px;
  }

  &__footer-btns {
    &--btn-create-account {
      margin-right: 1em;
      border: 1px solid #795548;
      color: #795548;
    }
  }
}

.login-button {
  button {
    display: flex;
    width: 300px;
    margin-bottom: 10px;
    background-color: #ffff;
    .logo {
      margin-right: 10px;
      width: 25px;
      height: 25px;
    }
  }
}

.credentials{
   display: flex;
   flex-direction: column;
  align-content: center;
}

app-card {
  padding: 1em;
}

.hyperlinks {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  a {
    color: #795548;
    margin: 10px;
  }
  .reset-password{
    cursor: pointer;
  }
}

