
$white: #FFFFFFFF;

$primary-color: #f0a323;
$primary-light-color: #ffd458;

$primary-dark-color: #b87400;
$secondary-color: #e54d1c;

$secondary-light-color: #ff7f4a;
$secondaryDarkColor: #ab1100;

$primary-text-color: #6e6d6d;
