<main>
  <section class="container">
    <app-card [card]='card'>

      <form formGroup='user' class="container row">
        <div class="name-email-and-address">
          <h5>Dados pessoais</h5>

          <mat-form-field class="col-lg-6" appearance="outline">
            <mat-label>Nome</mat-label>
            <input name="name" type="text" matInput placeholder="João da Silva" alt="Nome">
          </mat-form-field>


          <mat-form-field class="col-lg-6" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input name="email" type="email" matInput placeholder="joao@email.com" alt="E-mail">
          </mat-form-field>

          <h5>Endereço</h5>

          <mat-form-field class="col-6" appearance="outline">
            <mat-label>CEP</mat-label>
            <input name="zipcode" type="text" matInput placeholder="13185090" alt="CEP">
          </mat-form-field>

          <mat-form-field class="col-6" appearance="outline">
            <mat-label>Rua</mat-label>
            <input name="street" type="text" matInput placeholder="Rua manaus" alt="Rua">
          </mat-form-field>

          <mat-form-field class="col-6" appearance="outline">
            <mat-label>Bairro</mat-label>
            <input name="neighborhood" type="text" matInput placeholder="Jardim Nova américa" alt="Bairro">
          </mat-form-field>

          <mat-form-field class="col-6" appearance="outline">
            <mat-label>Número</mat-label>
            <input name="number" type="number" matInput placeholder="42" alt="Número">
          </mat-form-field>


          <mat-form-field class="col-6" appearance="outline">
            <mat-label>Cidade</mat-label>
            <input name="city" type="text" matInput placeholder="Hortolândia" alt="Cidade">
          </mat-form-field>

          <mat-form-field class="col-6" appearance="outline">
            <mat-label>Estado</mat-label>
            <input name="state" type="text" matInput placeholder="Jardim Nova américa" alt="bairro">
          </mat-form-field>

        </div>

      </form>
      <footer class="container__manage-buttons">
        <button class="container__manage-buttons--change" mat-stroked-button type="submit">
          <mat-icon>published_with_changes</mat-icon>
          Alterar
        </button>
        <button class="container__manage-buttons" mat-stroked-button color="warn" type="button">
          <mat-icon>cancel</mat-icon>
          Cancelar
        </button>
      </footer>
    </app-card>
  </section>
</main>
